body {
    -webkit-touch-callout: none;                /* prevent callout to copy image, etc when tap to hold */
    -webkit-text-size-adjust: none;             /* prevent webkit from resizing text to fit */
    -webkit-user-select: none;                  /* prevent copy paste, to allow, change 'none' to 'text' */
}

.menu{
    width:49%;
    height:23%;
}

#hospitais{
    background-color:rgb(100,100,100);
}

#delegacias{

}

#pontosTuristicos{

}

#praias{

}

#ondeComer{

}

#ondeDormir{

}

#eventos{

}

#banheiros{

}