body {
    -webkit-touch-callout: none;                /* prevent callout to copy image, etc when tap to hold */
    -webkit-text-size-adjust: none;             /* prevent webkit from resizing text to fit */
    -webkit-user-select: none;                  /* prevent copy paste, to allow, change 'none' to 'text' */
}

.menu{
    display:inline;
    text-align:center;
    color:rgb(256,256,256);
    font-size:18px;
    width:49%;
    height:23%;
}

#hospitais{
    background-color: rgb(41, 229, 152);
}

#delegacias{
    background-color: rgb(246, 168, 26);
    width:49%;
    height:23%;
}

#pontosTuristicos{
    background-color: rgb(88, 194, 229);
    width:49%;
    height:23%;
}

#praias{
    background-color: rgb(242, 231, 88);
    width:49%;
    height:23%;
}

#ondeComer{
    background-color: rgb(193, 2, 248);
    width:49%;
    height:23%;
}

#ondeDormir{
    background-color: rgb(229, 39, 137);
    width:49%;
    height:23%;
}

#eventos{
    background-color: rgb(0, 229, 220);
    width:49%;
    height:23%;
}

#banheiros{
    background-color: rgb(244, 170, 0);
    width:49%;
    height:23%;
}